.narcos {
    position: relative;
  }
  
  .netflixor {
    height: 27px;
    margin-right: auto;
  }
  .bg {
    position: absolute;
    max-width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }
  .contain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    padding: 80px 60px;
    padding-bottom: 120px;
    color: var(--white);
  
    h1,
    h2,
    h3 {
      margin: unset;
    }
  
    .ctas {
      display: flex;
      gap: 16px;
  
      .cta {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 40px;
  
        padding: 0 36px;
  
        background-color: rgba(0, 0, 0, 0.32);
  
        img {
          height: 16px;
        }
  
        &:hover {
          background-color: rgba(255, 255, 255, 0.32);
          cursor: pointer;
        }
      }
    }
  }
  
  .title {
    display: grid;
    gap: 16px;
  }
  
  
  .logoh {
    height: 94px;
  }
  
  .desc {
    max-width: 439px;
    text-align: justify;
  }