/* Style par défaut */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 20px;
  background-color: #141414;
  max-width: 100%;
}

.left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  height: 34px;
  position: absolute;
  left:60px;
  top:18px;
}

.decouv {
  color: #e50915;
}

nav {
  display: none;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 60px;
  left: 183px;
  right: 0;
  background-color: #141414;
  padding: 20px;
  z-index: 100;
  text-align: center;
  font-size: 16px;
  width:800px;
}

.menu-open {
  display: flex;
}

.blackleft {
  display: flex;
}

.right {
  display:none;
  align-items: center;
  gap: 16px;
  color: #fff; /* S'assurer que le texte est visible */
  z-index:10 !important;
}

.burger {
  display: block;
  cursor: pointer;
  z-index:10 !important;
}

.burgericon {
  height: 30px;
  z-index:10 !important;
}

/* Styles écrans larges */
@media screen and (min-width: 1200px) {
  .burger {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .right {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .right img:not(.dd) {
    height: 30px;
  }

  .profil {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .dd {
    height: 6px;
  }
}

body {
  background-color: #141414;
  color: white;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}
nav {
  transition: transform 0.3s ease-in-out;
  transform: translateY(-100%);
}

.menu-open {
  transform: translateY(0);
  background-color: #141414;
  display: flex;
  gap:30px;
  text-align: left;
  position: fixed;
  top:0px;
  left:709px;
  width:400px;
  height:100%;
}

#burger {
  position: relative;
  left:370px;
}

.blackleft {
  
}