.agedor {
    position: relative;
    top:0px;
    width:100%;
    height: 462px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: -2;
  }
  
  .content1 {
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.5); Fond semi-transparent */
    /* padding: 20px; */
    border-radius: 10px;
  }
  
  .title1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    left:60px;
    top:67px;
    max-width:467px;
  }
  
  .highlight {
    color: #e50914; /* Rouge Netflix */
    font-size: 5.8rem;
  }
  
  .subtitle {
    margin-top: 10px;
    font-size: 26px;
    position: absolute;
    left:60px;
    max-width: 580px;
    text-align: left;
    
  }
  .subtitle1 {
    font-size: 26px;
    color: white;
  }
  .descage {
    font-size: 20px;
    color: #ddd;
  }
  
  .section-title {
    font-size: 1.5rem;
    margin: 20px 0;
  }

  .movie-carousel {
    position:relative;
    left:60px;
    height:255px;
    z-index:4;

  }
  
  .carousel, .program-grid {
    display: flex;
    gap: 20px;
    overflow-x: auto;
  }

  .carousel {
    height:255px;
    position: relative;
    bottom:15px;
    overflow-y: hidden;
  }

  .carousel::-webkit-scrollbar {
    display: none;
  }

  .movie-card { 
    z-index:1;
    height:255px;
    width: 420px;
  }
  
  /* .movie-card, .program-card {
    position: relative;
    flex: 0 0 auto;
    width: 200px;
  } */
  
  .movie-img {
    height:255px;
    width: 420px;
    border-radius: 1px;
    z-index: 3;
  }

  .program-img {
    width: 100%;
    border-radius: 1px;
  }
  
  .play-button {
    position: relative;
    bottom: 163px;
    left: 161px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #ff0000;
    border: none;
    border-radius: 50%;
    width: 97px;
    height: 97px;
    align-items: center;
    cursor: pointer;
  }
  .triangle1 {
    height:51px;
    width:44px;
    position: absolute;
    top:23px;
    left:32px;
  }

  .movie-TD {
    position: relative;
    border:1px solid red;
    bottom:205px;
    width:250px;
    height:100px;
    display: flex;
    flex-wrap: wrap;
  }

  .movie-title {
    margin-right:100px;
    margin-bottom: 0px;
  }

  .movie-desc {
    margin-top:0px;
  }
  
  .movie-title, .program-title {
    text-align: center;
    margin-top: 10px;
  }
  
  .categories {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .category-button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
  }
  